h2= compo.name
p Compo: #{compo.name}

a(href=basepath+'entry/submit/'+compo.encoded_name) submit entry


// this could be ul, but the styles need to adjusted
| <br \>

- var rootdir=basepath+'uploads/'+ '' + compo.directory_name;

mixin listentries(late)
	- var num = 0;
	- each entry, i in compo.entries
		- if (entry.created.getTime() > compo.deadline.getTime() == late)
			- num++
			div.entry
				a(href=rootdir+'/'+entry.filename)=entry.name + ' by ' + entry.owner
	- if (num==0)
		p.silent none

h3 Entries
div.entrylist.intime
	mixin listentries(false)
h3 Late entries (wall of shame)
div.entrylist.late
	mixin listentries(true)
