
mixin listcompos(ended)
	- each item, i in compos
		if (item.ended === ended)
			a.compobox(href=basepath + 'compo/view/' + item.encoded_name)
				if (item.ended === false)
					span.timeleft ends in
						| <br />
						span.countdown=item.countdown
				if (item.ended === true)
					span.timeleft ended
						| <br />
						span.countdown=item.clean_deadline + ' ago'
				div.componame
					div.iconwrap
						- if (item.format === 'any')
							div.icon.icon-any
						- if (item.format === 'image')
							div.icon.icon-image
						- if (item.format === 'audio')
							div.icon.icon-audio
						- if (item.format === 'binary')
							div.icon.icon-binary
					span.compotitle= item.name
				span.entries= 'entries: ' + item.entryamount
				| <br />

div.toolbox
	h3 Compos running
	mixin listcompos(false)
	h3 Closed compos
	mixin listcompos(true)
