div.toolbox
    h2 Create a new compo
    form( name='createcompo', action=basepath+'compo/create', method='post') 
        label compo name: 
        input(type='text',
            name='componame', 
            autofocus)
        | <br />
        label description:
        | <br />
        textarea(
            name='description')
        | <br />
        label= "deadline date (format: " + timeformat + "): "
        | <br />
        input(type='text',
            name='date',
            value=date) 
        | <br />
        | <br />
        input.button(type='submit',
            value='create compo')
