h2 Create a new compo
form( name='createcompo', action='createcompo', method='post') 
	label compo name: 
	input(type='text',
		name='componame', 
		autofocus)
	| <br />
	label description:
	| <br />
	textarea(
		name='description')
	| <br />
	label= "deadline date" + timeformat + " "
	input(type='text',
		name='date',
		value=date) 
	| <br />
	input(type='submit',
		value='create compo')
