div.toolbox
	h2= 'Submitting entry to '
		a(href=basepath+'compo/view/'+encodeURIComponent(componame))= componame
	form( name='createcompo', action=basepath+'entry/submit/'+componame, method='post')
		.single
			label(for="entryname") entry name:
			input#entryname(type='text',
				name='entryname',
				autofocus)
		.single
			label(for="nickname") your nickname:
			input#nickname(type='text',
				name='nickname',
				autofocus)
		.single
			label(for="description") description (show on the screen):
			textarea#description(
				name='description')
		.single.submit
			input.button(type='submit',
				value='submit entry!')
